body{
    font-family: 'Lucida Grande', sans-serif;
    color: white;
    background-color: black;
}
h1{
    font-size: 64px;
    text-align: center;
}
h2{
    font-size: 30px;
    text-shadow: 5px 5px 2px #808080;
}
p{
    font-size: 24px;
    padding-top: 20px;
}
img{
    width: 525px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div{
    height: 150px;
    padding: 25px;
}
#red{
    background-color: #FF0000;
    text-align: right;
}
#blue{
    background-color: #0000ff;
    text-align: left;
}

#yellow{
    background-color: #ffff00;
    text-align: right;
}
#yellow h2 {
    color: black;
    text-shadow: 5px 5px 2px #c7e2c7;
}
#yellow p{
    color: black;
}
#green{
    background-color: #06972e;
    text-align: left;
}
footer{
    text-align: right;
    padding-bottom: 10px;
    padding-right: 10px;
}
